<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Apple Contract in the Style of Willy Wonka </title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>

<body>

<div style="font-size: 30px;">
    <% File.foreach("apple_contract.txt").with_index do |line, line_no| %>       
            <% font_size = (0.85 ** (line_no + 1)) * 100 %>       
            <p style="font-size: <%= "%.5f" % font_size %>%;"> <%= line %>  </p>

    <% end %>    
</div>

</body>
</html>

